name: CI

permissions:
  contents: read

on:
  push:
    branches: [master]
  pull_request:

jobs:
  local-check:
    name: Local Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust 1.88
        uses: dtolnay/rust-toolchain@1.88.0
        with:
          components: rustfmt, clippy

      - name: Install wasm32-wasip2 target
        run: rustup target add wasm32-wasip2

      - name: Run local checks
        run: ci/local_check.sh
